*{
    margin: 0px;
}
header{
    height: 80px;
    width: 100%;
    background-color: blue;
    position: relative;
}
#logo{
    height: 80px;
    width: 110px;
}

#nav{
    text-decoration: none;
    font-size: 25px;
    position: relative;
    top: -60px;
    right: -180px;;
}

a.navi{
    font-family: "Times New Roman", Times, serif;
    color: burlywood;
    font-weight: bold;
    padding: 10px;
    border: 2px solid blue;
}

a.navi:hover{
    border: 2px solid white;
}

/*......................header ends here............................................... */
h1{
    position: relative;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    background-color: rgb(87, 62, 134);
    color: white;
}
.container{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(148, 153, 153);
}

.cer{
    box-shadow: 10px 10px green;
    height: 500px;
    width: 420px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 5px;
    /* padding: 5px; */
}
.para{
    margin: 5px;
    padding: 2px;
    text-align: center;
    font-weight: bold;
}
/*...................................................*/
footer{
    height: 95px;
    width: 100%;
    background-color: blue;
    position: relative;
}
#logo1{
    height: 95px;
    width: 110px;
}

#foot{
    color: aliceblue;
    position: absolute;
    bottom: 8px;
    left: 600px;
}