/*this is the comment section and the comment for understanding purpose*/
h1{
	font-size: 60px;
	text-align: center;
}
h2{
	font-size: 50px;
}
h4{
	font-size: 30px;
}

p{
	font-size: 20px;
}

button:hover {
    background-color: blue;
    font-size: 21px;
}


header{
	width: 1333px;
	height: 70px;
	background-color: rgba(9, 13, 7, 0.6);
}
#logo{
	display: inline-block;
	width: 227px;
    height: 45px;
    border-top-width: 19px;
    padding-top: 12px;
    font-size: 30px;
}
#logo:hover{
	background-color: blue;
}

nav{
	display: inline-block;
	font-size: 25px;
}
a{
	color: white;
	padding: 20px;
}
a:hover{
	color: blue;
	font-size: 26px;
}

/*this is the footer part of the Tech Support*/


img#s1{
	position: absolute;
	left: 300px;
}
#txt1{
	position: absolute;
	left: 750px;
	top: 500px;
}

img#s2{
	position: absolute;
	left: 300px;
	top: 500px;
}
#txt2{
	position: absolute;
	left: 750px;
	top: 200px;
}

img#s3{
	position: absolute;
	left: 300px;
	top: 780px;
}
#txt3{
	position: absolute;
	left: 750px;
	top: 750px;
}
footer{
	background-color: rgba(9, 13, 7, 0.6);
	position: absolute;
	top: 1070px;
}
#edit{
	position: relative;
	width: 1333px;
	font-weight: bold;
	font-size: 20px;
	left: 500px;
	top: -30px;
	color: white;
}
